__pycache__/
python/ftpScanner/*ftpservers*
python/ftpScanner/ftpPortScans/
python/ftpScanner/helpers/stable_servers
.idea/

/CSC 331/Assignment1/nbproject/private/
/CSC 331/Assignment1/build/
/CSC 331/classExample/nbproject/private/
/CSC 331/classExample/build/
/CSC 331/Project1/nbproject/private/
/CSC 331/Assignment2/nbproject/private/
/CSC 331/Assignment2/build/