__pycache__/
python/ftpScanner/*ftpservers*
python/ftpScanner/ftpPortScans/
python/ftpScanner/helpers/stable_servers
.idea/

/CSC 331/Assignment1/nbproject/private/
/CSC 331/Assignment1/build/
/CSC 331/classExample/nbproject/private/
/CSC 331/classExample/build/
/CSC 331/Project1/nbproject/private/
/CSC 331/Assignment2/nbproject/private/
/CSC 331/Assignment2/build/
CSC 380 - Design and Analysis of Algorithms/username_generator/10k

CSC 380 - Design and Analysis of Algorithms/username_generator/1k

CSC 380 - Design and Analysis of Algorithms/username_generator/100k

CSC 380 - Design and Analysis of Algorithms/username_generator/10M

CSC 380 - Design and Analysis of Algorithms/username_generator/1M

CSC 380 - Design and Analysis of Algorithms/username_generator/password_list\.txt

CSC 380 - Design and Analysis of Algorithms/username_generator/usernames\.txt

CSC 380 - Design and Analysis of Algorithms/username_generator/pages/

CSC 380 - Design and Analysis of Algorithms/username_generator/rs_usernames\.txt

CSC 380 - Design and Analysis of Algorithms/username_generator/10M_logins\.txt

CSC 380 - Design and Analysis of Algorithms/username_generator/1M\.txt

CSC 380 - Design and Analysis of Algorithms/username_generator/source_lists/14\.3M_passwords\.txt

CSC 380 - Design and Analysis of Algorithms/username_generator/10M_UNCW\.txt

CSC 380 - Design and Analysis of Algorithms/username_generator/10-MIL-RANDOM\.txt
